container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --pythonpath=`pwd`/my_fair_lady2 --settings='my_fair_lady2.settings.production' --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate --pythonpath=`pwd`/my_fair_lady2 --settings='my_fair_lady2.settings.production' --noinput"
    leader_only: true
  03_createadmin:
    command: "PYTHONPATH=`pwd`/my_fair_lady2 python my_fair_lady2/scripts/make_admin.py"
    leader_only: true
  04_collectstatic:
    command: "django-admin.py collectstatic --pythonpath=`pwd`/my_fair_lady2 --settings='my_fair_lady2.settings.production' --noinput --clear --verbosity=3"
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: my_fair_lady2/my_fair_lady2/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
