container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput --settings=my_fair_lady2.settings.production"
    leader_only: true
  02_createadmin:
    command: "my_fair_lady2/scripts/make_admin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput --settings=my_fair_lady2.settings.production"
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: my_fair_lady2/my_fair_lady2/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: my_fair_lady2/static/
