/*! project specific CSS goes here. */


/* Centering title */
h1 {
    text-align: center;
    font-weight: 100;
    font-size: 50px;
}

/* Centering form fields */
div.main_content_div {
    text-align: center;
}

table.content_table {
    text-align: left;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

div.main_form_div {
    width: 350px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
}


form.main_content_form label {
    display: none;
}

/* Fields for collecting candiate info */
form.main_content_form input{
	width: 100%;
	height: 60px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 300;
	text-indent: 15px;
}

/* Background color of page */
body {
	background-color: #f7f7f7;
}

/* Submit button for candidate information*/
#mainformsubmit {
	background: white;
	font-size: 24px;
	font-weight: 300;
	color: #ea050b;
	margin-top: 25px;
	border: 1px solid;
	transition-property: background;
	transition-duration: 0.4s;
	transition-timing-function: linear;
}

#mainformsubmit:hover, 
#mainformsubmit:focus {
	background: #ea050b;
	color: white;
	border: 1px solid #ea050b;
}


/* This is for the success message */
#candidate_thanks {
	height: 60px;
	background-color: #52ad15;
	line-height: 55px;
	color: white;
	font-size: 24px;
	font-weight: 200;
	border-radius: 4px;
	margin-top: -60px;
	border: 2px solid #52ad15;
	position: relative;
	z-index: 100000;
}

.cityscape img {
   height: 100%;
   width: 100%;
}

/* big screens */
@media only screen 
and (min-device-width : 1024px) {
	div.cityscape { 
		width: 60%;
		position: fixed;
		bottom: 0;
		z-index: -1;
		margin-left: 20%;
		margin-right: 20%;

	}
}


/* ipads footer size */
@media only screen 
and (max-device-width : 768px) 
{

	div.cityscape { 
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: -1;
	}

} 

/* iphone 5/5s form size. form and header only */
@media only screen 
and (max-device-width : 640px) { 
	
	div.cityscape { 
		visibility: hidden;
		}

	h1 {
	    text-align: center;
	    font-weight: 200;
	    font-size: 25px;
	    margin-top: -40px;
	}

	div.main_form_div {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 20px;
	}

}


