{% extends "base.html" %}

{% block title %}Candidate Gatherer{% endblock %}

{% block page_title %}{{ source_name }}{% endblock page_title %}

{% block content %}


<div class="main_form_div">
    <form class="main_content_form" action="candidate_post" method="POST">
        {% csrf_token %}
        {{ candidate_form.as_p }}
        <input hidden name="source_id" value={{ source_id }}>
        <input id="mainformsubmit" type="submit" value="Submit">
    </form>
    {% if success_candidate_name %}
    <div id="candidate_thanks" >Thanks, {{ success_candidate_name }}!</div>
    {% endif %}
</div>
{% endblock content %}
